@model T5.Common.Models.Filter
    
<div class="col-md-6">
    <div class="row">
        <h3>@Model.Type Effect</h3>
    </div>
    <div class="row">
        <a href="@Model.URL" target="_blank"><img src="@Model.URL" class="img-thumbnail" /></a>
    </div>
</div>
