@{
    ViewBag.Title = "Home";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Info</h4>
    </div>
    <div class="panel-body">
        <span>The Front-End and Back-End is running on Windows Azure Cloud.</span>
        <span>Source code can be found on: <a href="https://github.com/nbzor/Azure-Sample" target="_blank">GitHub</a></span>
    </div>
</div>
