<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="T5.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <T5.Common.Properties.Settings>
      <setting name="StorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=t5cloud;AccountKey=n76WjqgBmcJV+ZKHgOOlYIVyd8I0PN10TOeaVjtcOpUo4vGXf4fQgc2BxCjdzancretFN4NzbZMBMA13Db2wUA==</value>
      </setting>
      <setting name="BlobStorageString" serializeAs="String">
        <value>photos</value>
      </setting>
      <setting name="QueueStorageString" serializeAs="String">
        <value>queuetask</value>
      </setting>
      <setting name="TableStorageString" serializeAs="String">
        <value>tabletask</value>
      </setting>
    </T5.Common.Properties.Settings>
  </applicationSettings>
</configuration>